### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
#school_data_complete.describe()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
count_schools = school_data["school_name"].count()
#count_schools
count_students = float(school_data_complete["Student ID"].count())
#count_students
total_budget = school_data["budget"].sum()
#total_budget
math_average = school_data_complete["math_score"].mean()
#math_average
average_reading_score = school_data_complete["reading_score"].mean()
#average_reading_score
overall_average_score = (math_average + average_reading_score)/2
#overall_average_score
passing_math_score = school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
passing_reading_score = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_math_per = passing_math_score/count_students*100
passing_reading_per = passing_reading_score/count_students*100
passing_reading_per

district_summary = pd.DataFrame({"Total Schools":[count_schools], 
                                "Total Students":[count_students], 
                                "Total Budget":[total_budget], 
                                "Average Math Score":[math_average],
                                "Average reading Score": [average_reading_score],
                                "Overall Passing Rate": [overall_average_score], 
                                "Passing Math Score": [passing_math_per], 
                                "Passing Reading Score":[passing_reading_per]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average reading Score,Overall Passing Rate,Passing Math Score,Passing Reading Score
0,15,39170.0,24649428,78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [61]:
#student_count = school_data_complete.groupby(["school_name"]).count()["Student ID"]
#school_data_2 = school_data.set_index(["school_name"])
#school_type = school_data_2["type"]
#school_budget = school_data_2["budget"]
#student_budget = school_budget/student_count
#average_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
#average_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
#passing_math = school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
#passing_reading = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
#passing_math_per = passing_math/student_count*100
#passing_reading_per = passing_reading/student_count*100
#overall_passing_rate = passing_math_per + passing_reading_per/2
#overall_passing_rate

In [79]:
#School Name #School Type #Total Students
#Total School Budget
school_overview = school_data.loc[:, ["school_name", "type", "size", "budget", "math_score"]]
school_overview = school_name.rename(columns={'school_name': 'School Name', 'type': 'School Type', "size" : "Total Students", "budget": "Total Budget","math_score": "Math Score"})
school_overview

              School Name School Type  Total Students  Total Budget
0       Huang High School    District            2917       1910635
1    Figueroa High School    District            2949       1884411
2     Shelton High School     Charter            1761       1056600
3   Hernandez High School    District            4635       3022020
4     Griffin High School     Charter            1468        917500
5      Wilson High School     Charter            2283       1319574
6     Cabrera High School     Charter            1858       1081356
7      Bailey High School    District            4976       3124928
8      Holden High School     Charter             427        248087
9        Pena High School     Charter             962        585858
10     Wright High School     Charter            1800       1049400
11  Rodriguez High School    District            3999       2547363
12    Johnson High School    District            4761       3094650
13       Ford High School    District            2739       1763916
14     Thomas High School     Charter            1635       1043130

In [43]:
#Per Student Budgetschool
school_overview["Per Student Budget"] = school_overview["Total Budget"] / school_overview["Total Students"]
school_overview

,School Name,School Type,Total Students,Total Budget,Per Student Budget
0,Huang High School,District,2917,1910635,655.0
1,Figueroa High School,District,2949,1884411,639.0
2,Shelton High School,Charter,1761,1056600,600.0
3,Hernandez High School,District,4635,3022020,652.0
4,Griffin High School,Charter,1468,917500,625.0
5,Wilson High School,Charter,2283,1319574,578.0
6,Cabrera High School,Charter,1858,1081356,582.0
7,Bailey High School,District,4976,3124928,628.0
8,Holden High School,Charter,427,248087,581.0
9,Pena High School,Charter,962,585858,609.0
10,Wright High School,Charter,1800,1049400,583.0
11,Rodriguez High School,District,3999,2547363,637.0
12,Johnson High School,District,4761,3094650,650.0
13,Ford High School,District,2739,1763916,644.0
14,Thomas High School,Charter,1635,1043130,638.0

In [80]:
# Average Math Score
average_math_score = school_data_complete.groupby(["school_name"]).sum()["math_score"]
average_math_score
#school_overview["Average Math Score"] = school_overview.sum()["math_score"]

school_name
Bailey High School       383393
Cabrera High School      154329
Figueroa High School     226223
Ford High School         211184
Griffin High School      122360
Hernandez High School    358238
Holden High School        35784
Huang High School        223528
Johnson High School      366942
Pena High School          80654
Rodriguez High School    307294
Shelton High School      146796
Thomas High School       136389
Wilson High School       190115
Wright High School       150628
Name: math_score, dtype: int64

In [65]:
#Average reading Score
average_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [76]:
#passing math over 70
#passing_math = school_data_complete[(school_data_complete[v)].count()["student_name"]
passing_math = school_data_complete.loc[school_data_complete["math_score"]>=70]
passing_math_grouped = passing_math.groupby(["school_name"]).size()
#total_students_per_school = school_overview["Total Students"]
#total_students_per_school
passing_math_grouped_per = (passing_math_grouped/)*100
passing_math_grouped_per

Bailey High School      NaN
Cabrera High School     NaN
Figueroa High School    NaN
Ford High School        NaN
Griffin High School     NaN
Hernandez High School   NaN
Holden High School      NaN
Huang High School       NaN
Johnson High School     NaN
Pena High School        NaN
Rodriguez High School   NaN
Shelton High School     NaN
Thomas High School      NaN
Wilson High School      NaN
Wright High School      NaN
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
dtype: float64

In [70]:
#passing reading over 70%
passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70]
passing_reading_grouped = passing_reading.groupby(["school_name"]).size()
passing_reading_grouped

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64





## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [11]:
#bottom_performing = school_data_2.sort_values(["overall_passing_rate"])

KeyError: 'overall_passing_rate'

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.